html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-VariableFont_wdth,wght.ttf");
}